*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --Marine-blue:hsl(213, 96%, 18%);
    --Light-gray:hsl(229, 24%, 87%);
    --White:hsl(0, 0%, 100%);
}

.flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

body{
    min-height:100vh;
    width:100vw;
    overflow-x:hidden;
    flex-direction:column;
    background-color:var(--Light-gray);
}

#App {
    flex-direction:column;
    justify-content:space-between;
    width:98%;
    max-width:800px;
    min-height:70vh;
    padding:1rem;
    padding-bottom:2rem;
    border-radius:0.5rem;
    background-color:var(--White);
}

#header{
    margin-top:1rem;
    width:100%;
    justify-content:space-between;
    padding:0 1rem;
    color:var(--Marine-blue);
}

#header img{
    height:40px;
    border-radius:500px;
    user-select:none;
}

#clock{
    width:100%;
    margin-top:2rem;
    padding-top:2rem;
    flex-direction:column;
}

.time{
    font-size:4rem;
    text-align:center;
}

.date-day{
    margin-top:1rem;
    font-size:1.5rem;
}

.clock-features{
    width:100%;
    max-width:400px;
    padding:0 1.2rem;
    justify-content:space-between;
    margin:4rem auto 0 auto;
}

button{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:transparent;
    border:none;
    height:40px;
    width:40px;
    cursor:pointer;
    transition:all 0.1s;
}

button:hover{
    transform:scale(1.1);
}

button:active{
    transform:scale(1);
}

.active-button{
    background-color:#d8d5d5;
    border-radius:500px;
}

.stopwatch-controls{
    margin-top:1.8rem;
    gap: 3rem;
}

.time-input{
    gap:1.2rem;
    margin-bottom:1.4rem;
}

.time-input > div{
    flex-direction:column;
    gap:5px;
}

.timer-label{
    font-size:1.4rem;
}

.timer-input{
    text-align:center;
    height:40px;
    width:60px;
    border-radius:0.5rem;
    border:1px solid var(--Light-gray);
    font-size:1.3rem;
}

#timer-start-button, #timer-stop-button{
    height:auto;
    width:auto;
    padding:0.5rem 1rem;
    font-size:1.3rem;
    border-radius:0.5rem;
    background-color:var(--Marine-blue);
    color:var(--White);
    margin-bottom:1rem;
}

.timer-output-container{
    margin-bottom:-1.5rem;
}

.flag-container{
    width:100%;
    height:90px;
    margin-top:1rem;
    padding:0.5rem 1rem;
    overflow-x:hidden;
    overflow-y:auto;
}

.time-lap{
    font-size:1.2rem;
    text-align:center;
    padding:8px;
    border-left:1px solid var(--Light-gray);
    border-right:1px solid var(--Light-gray);
    user-select:none;
}

.none-display{
    display:none;
}

@media only screen and (max-width: 370px){
    #header{
        padding:0;
    }

    .time{
        font-size:2.5rem;
    }
}